[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alookr"]
	path = alookr
	url = https://github.com/choonghyunryu/alookr
[submodule "dlookr"]
	path = dlookr
	url = https://github.com/choonghyunryu/dlookr
